@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Baloo Da 2', cursive;

}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.section1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("/images/dark-bg.jpeg") no-repeat;
    background-size: cover;
    overflow: hidden;
    
}

.section-h span{
    position: absolute;
    font-size: 12rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
    text-shadow: .3rem .3rem .3rem rgba(0, 0, 0,.5);
    color: #fff;
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
}

.section-h .heading1{
    animation: animate-h1 12s 2s infinite;
}
.section-h .heading2{
    animation: animate-h1 12s 5s infinite;
}
.section-h .heading3{
    animation: animate-h1 12s 8s infinite;
}
.section-h .heading4{
    animation: animate-h1 12s 11s infinite;
}

.section-h{
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 50rem;
    width: 100%;
    position: relative;
    top: -6rem;


}

.section1 p{
    width: 30%;
    background: rgba(0,0,0,.5);
    text-align: center;
    font-size: 3rem;
    color: #fff;
    text-shadow: .3rem .3rem .3rem rgba(0, 0, 0,.5);
    box-shadow: .3rem .3rem .3rem rgba(0, 0, 0,.5);
    position: relative;
    top: 2rem;
    margin: 1rem 0;
    opacity: 0;
    animation: fadeanimate 1s 1.5s forwards;
    
}

.btn{
    width: 28rem;
    height: 4rem;
    font-size: 2.5rem;
    padding: 0 2rem;
    color: #fff;
    border: .1rem solid rgba(121, 10, 10,0.5);
    border-radius: 4rem;
    position: relative;
    top: 4rem;
    text-shadow: .3rem .3rem .3rem rgba(0, 0, 0,.5);
    box-shadow: .3rem .3rem .3rem rgba(0, 0, 0,.5);
    opacity: 0;
    background: linear-gradient(to right,#9b0e0e,#7a1010);
    animation: fadeanimate 1s 1.5s forwards;
    overflow: hidden;
}

.btn::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -28rem;
    background: linear-gradient(to right,transparent,#fff,transparent);
    transform: skewX(-30deg);
    z-index: 10;
    transition: left .50s;


}

.btn:hover::before{
    left: 28rem;
}


@keyframes animate-h1{

    0%{
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }

    3%{
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }
    25%{
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }

    28%{
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }

    100%{
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }
    
}
@keyframes  fadeanimate{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

/* navbar */

.navbar{
    width: 100%;
    height: 0;
    top: 0;
    background: rgba(0,0,0,.9);
    position:fixed;
    z-index: 10;
    transition: height .5s;
    overflow: hidden;
    /* animation: navbarslide 2s forwards; */

}

.change.navbar{
    height: 100vh;
    transition: height .5s .3s;
}

.navbar .row1{
    width: 100%;
    height: 0;
    background: rgba(0,0,0,.9);
    top: -5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    animation: navbarslide 1s 1s forwards;
}

@keyframes navbarslide{
    0%{
        height: 0;
        top: -5rem;
    }

    100%{
        height: 6rem;
        top: 0;
    }
}



.logo{
    position: relative;
    left: 2rem;
}

.logo a{
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}

.logo span{
    font-size: 3rem;
    color: rgb(226, 10, 10);
    font-weight: 900;
}

.menu{
    width: 3rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    right: 4rem;

}

.line{
    width: 100%;
    height: .2rem;
    background: #fff;
}

.line1{
    width: 50% !important;
    transition: transform .5s;
}

.change .line1{
    transform: translate(100%,1rem) rotate(-30deg);
    transform-origin: right;

}

.line3{
    width: 50% !important;
    margin-left: auto;
    transition: transform .5s;
}

.change .line3{
    transform: translateY(-1rem) rotate(30deg);
    transform-origin: right;
}

.nav-list{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transition: opacity .2s;
    
}

.change .nav-list{
    opacity: 1;
    transition: opacity .5s .7s;
}

.nav-list a{
    font-size: 3rem;
    color: #fff;
    font-weight: 900;
    transition: color .5s;
    letter-spacing: .2rem;
}

.nav-list a:hover{
    color:rgb(226, 10, 10);
}




/* end-navbar */

/* section-2 */
.section2{
    width: 100%;
    height:100vh;
    background: rgb(29, 28, 28);
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.col1{
    position: relative;
    left: 1rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.s2h{
    font-size: 8rem;
    letter-spacing: .2rem;
    font-weight: 200;
    color:#fff;
    margin-right: 6rem;
}

.hline{
    width: 10rem;
    height: .2rem;
    background: #fff;
}

.col2{
    width:70rem;
    
}
.video-wrapper{
    height:50vh;
    margin-bottom: 3rem;
    position: relative;
    overflow: hidden;
}
.video-wrapper:hover .controls{
    transform: translateY(-5rem);
    transition: transform .5s;
}
.controls{
    border: none;
    position: absolute;
    transform: translateY(-2rem);
    width: 100%;
    background: rgba(0,0,0,0.7);
    box-shadow: .1rem .1rem .2rem #333;
    transition: transform .5s;

}
.video{
    width:100%;
    height:100%;
    object-fit: cover;
    opacity: .5;
    transition: opacity .5s;
}
.sec-info{
    height: 15rem;
    font-size: 2rem;
    color:#fff;
    font-weight:400;
    text-align: justify;
    border-top: .1rem solid #fff;
    border-bottom: .1rem solid #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    line-height: 3rem;
}
.sec-info i{
    font-size: 3rem;
    
}
.sec-info i:last-child{
    align-self: flex-end;
}
.btn-wrapper{
    padding: .1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    opacity: 0;
    transition: opacity .3s;
}
.video-wrapper:hover .btn-wrapper{
    opacity: 1;
    transition: opacity .5s .2s;
}
.btn-wrapper button{
    color: #fff;
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
}

.bar-wrapper{
    width: 100%;
    height: .5rem;
    background: #333;
    position: absolute;
    top: 0;
    left: 0;
}

.bar{
    width: 0;
    height: .5rem;
    background: rgb(250, 10, 10);
    position: absolute;
    top: 0;
    left: 0;
    transition: width .2s linear;
}

/*end-section-2 */

/* section-3 */
.section3{
    width: 100%;
    height: 100vh;
    background: #03070e;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.heading{
    position: relative;
    left: 8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}
.s3h{
    font-size: 8rem;
    letter-spacing: .2rem;
    font-weight: 200;
    color:#fff;
    margin-right: 6rem;
}
.section3 .hline{
    width: 5rem;
    height: .2rem;
    background: #fff;
}
.content{
    width: 55% !important;
    position: relative;
}
.card-wrapper{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* padding: 1rem; */
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 15rem !important;
    height: 25rem !important;
    background: rgb(46,38,38);
    background: linear-gradient(0deg, rgba(46,38,38,1) 10%, rgba(129,120,126,1) 74%);
    padding: 0 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
    box-shadow: .2rem .2rem 1rem #444;
    /* transform: rotateY(180deg); */
}
.card-heading{
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
}
.card-price{
    font-size: 4rem;
    font-weight: 900;
    color: #ddd;
}
.service-list{
    font-size: 1rem;
    color: rgb(58, 236, 22);
    letter-spacing: .3rem;
}
.card-btn{
    margin:1rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border: none;
    color: #eee;
}
.freeh{
    width: 100%;
    height: 4rem;
    background: rgb(13,184,212);
    background: linear-gradient(90deg, rgba(13,184,212,1) 30%, rgba(9,94,143,1) 89%);
    text-align: center;
}
.freebtn{
    width: 80%;
    background: rgb(13,184,212);
    background: linear-gradient(90deg, rgba(13,184,212,1) 30%, rgba(9,94,143,1) 89%);
}
.standh{
    width: 100%;
    height: 4rem;
    background: rgb(250,0,34);
    background: linear-gradient(90deg, rgba(250,0,34,1) 34%, rgba(116,9,9,1) 75%);
    text-align: center;
}
.standbtn{
    width: 80%;
    background: rgb(250,0,34);
    background: linear-gradient(90deg, rgba(250,0,34,1) 34%, rgba(116,9,9,1) 75%);
}
.viph{
    width: 100%;
    height: 4rem;
    background: rgb(212,160,13);
    background: linear-gradient(90deg, rgba(212,160,13,1) 50%, rgba(255,102,0,1) 77%);
    text-align: center;
}
.vipbtn{
    width: 80%;
    background: rgb(212,160,13);
    background: linear-gradient(90deg, rgba(212,160,13,1) 50%, rgba(255,102,0,1) 77%);
}
.premh{
    width: 100%;
    background: rgb(255,0,176);
    background: linear-gradient(90deg, rgba(255,0,176,1) 47%, rgba(183,13,212,1) 82%);
    text-align: center;
}
.prembtn{
    width: 80%;
    background: rgb(255,0,176);
    background: linear-gradient(90deg, rgba(255,0,176,1) 47%, rgba(183,13,212,1) 82%);
}
.card-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    font-size: 2rem;
    color:#fff;
    font-weight: 400;
}
.freeback{
    background: rgb(13,184,212);
    background: linear-gradient(90deg, rgba(13,184,212,1) 30%, rgba(9,94,143,1) 89%);
}
.standback{
    background: rgb(250,0,34);
    background: linear-gradient(90deg, rgba(250,0,34,1) 34%, rgba(116,9,9,1) 75%);
}
.vipback{
    background: rgb(212,160,13);
    background: linear-gradient(90deg, rgba(212,160,13,1) 50%, rgba(255,102,0,1) 77%);
}
.premback{
    background: rgb(255,0,176);
    background: linear-gradient(90deg, rgba(255,0,176,1) 47%, rgba(183,13,212,1) 82%);
}


/* end-section-3 */

/* section4 */
.section4{
    width: 100%;
    height:100vh;
    background: rgb(37, 36, 36);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.h4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contact-wrapper{
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 8rem;
}
.contact-info{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7rem;
}
.contact-info > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-info > div i{
    font-size: 4rem;
    color: rgb(170, 10, 10);
}
.contact-info > div h2{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .3rem;
}
.contact-info > div p{
    color: rgb(156, 153, 153);
    font-size: 1rem;
    font-weight: 400;
    
}
.form{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.form h1{
    color: #fff;
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
}
.form input,
.form textarea{
    font-size: 1.3rem;
    width: 100%;
    height: 4rem;
    background: rgba(0,0,0,0.7);
    color: rgb(99, 95, 95);
    border: none;
    margin: .5rem;
    padding: 0 1rem;
}
.form textarea{
   max-width: 100%;
   min-width: 90%;
   max-height: 8rem;
   min-height: 8rem;
}

.form input[type="submit"]{
    width: 103%;
    background: rgb(170, 10, 10);
    color: #ddd;
    font-size: 1.5rem;
    letter-spacing: .3rem;
    
}
/* end-section4 */
/* footer */
.footer{
    width: 100%;
    height: 8rem;
    background: rgb(32, 29, 29);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav{
    margin-left: 10rem;
}
.nav a{
    color: #fff;
    margin-right: 1.5rem;
    letter-spacing: .2rem;
    font-size: 2.5rem;
    transition: color .5s;
}
.nav a:hover{
    color: rgb(177, 9, 9);
}
.copyright{
    font-size: 1.5rem;
    margin-right: 10rem;
    letter-spacing: .3rem;
    text-shadow: .2rem .2rem .9rem #ddd;
    transition: all .5s;
}
.copyright:hover{
    color: rgb(177, 9, 9);
    text-shadow: .2rem .2rem .9rem #333;
}
/* end-footer */
